*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar .dropdown:hover .dropdown-content {
    display: block;
  }
  #navbar .logo {
    color: red;
  }
  

.body5{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:wheat
    
}
.body5 .contact
{
    max-width: 800px;
    text-align: center;
}
.body5 .contact h4
{
    font-size: 36px;
    font-weight: 500;
    color:rgb(6, 0, 0);
}
.body5 .contact p{
    color: rgb(0, 0, 0);   
}

.main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.main .info{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.main .info .box
{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.main .info .box .icon
{
    min-width: 60px;
    height: 60px;
    background: #fffefe;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50;
    font-size: 22px;
}
.main .info .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    flex-direction: column;
    font-weight: 300;
}

.form{
    width: 40%;
    padding: 40px;
    background: #fff;
}
.form h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.form .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.form .inputBox input,
.form .inputBox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}